<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="right">
<input class="btn btn-primary" type="submit" value="Adicionar" title="Adicionar Incidencia" name="addIssue">
</div>

<form>
<fieldset>
	<legend>Datos de la Incidencia</legend>
	
	<label title="casa">*Resumen:</label>
	<input id="summaryText" name="summaryText" >
	<label title="casa">*Descripción:</label>
	<textarea rows="5" cols="20"></textarea>
	<a href="http://localhost/cero/mninside/file_download.php?file_id=1&type=bug" target="_black">file</a>
</fieldset>
</form>
</body>
</html>